<!DOCTYPE html>
<html>
<head>
    <title>Display</title>
</head>
<body onload="setData()">
    <p id="show">
        name: <!-- want to display the name here -->
    </p>
    <p id="show2">
        mname: <!-- want to display the name here -->
    </p>
    <p id="show3">
        lname: <!-- want to display the name here -->
    </p>
    <p id="show4">
        lname: <!-- want to display the name here -->
    </p>
    <p id="show5">
        lname: <!-- want to display the name here -->
    </p>
    <p id="show6">
        lname: <!-- want to display the name here -->
    </p>
    <p id="show7">
        lname: <!-- want to display the name here -->
    </p>
    <p id="show8">
        lname: <!-- want to display the name here -->
    </p>
    <p id="show9">
        lname: <!-- want to display the name here -->
    </p>
    <p id="show10">
        lname: <!-- want to display the name here -->
    </p>
    <p id="show11">
        lname: <!-- want to display the name here -->
    </p>
    <p id="show12">
        lname: <!-- want to display the name here -->
    </p>
<script>
function setData(){
    if(typeof(localStorage) != "undefined"){
        document.getElementById("show").innerHTML = localStorage.name;
        document.getElementById("show2").innerHTML = localStorage.mname;
        document.getElementById("show3").innerHTML = localStorage.lname;
        document.getelementbyId("show4").innerHTML = localstorage.address;
        document.getelementbyId("show4").innerHTML = localStorage.postal;
        document.getelementbyId("show5").innerHTML = localStorage.city;
        document.getelementbyId("show6").innerHTML = localstorage.province;
        document.getelementbyId("show7").innerHTML = localStorage.country;
        document.getelementbyId("show8").innerHTML = localstorage.email;
        document.getelementbyId("show9").innerHTML = localStorage.phone;
        document.getelementbyId("show10").innerHTML = localStorage.busphone;
        document.getelementbyId("show11").innerHTML = localStorage.userId;
        document.getelementbyId("show12").innerHTML = localStorage.password;
    }
}
</script>
</body>
</html>