<!DOCTYPE html>
<header>
  <title>Travel Packages</title>
  <!--  Main CSS & JavaScript File -->
  <link href="G4Styles.css" rel="stylesheet" type="text/css"/>
  <link href="/public/script.js" rel="stylesheet" type="text/js"/>

</header>
<body>
  
  <table align="center">
    <tr >
      <td><img src="logo1.jpg"></td>
      
      <td ><nav>
        <ul class="nav-main">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/packages">Travel Packages</a></li>
          <li class="nav-item"><a href="/contact">Contact</a></li>
          <li class="nav-item"><a href="/register">Register</a></li>
        </ul>
      </nav></td>
    </tr>
  </table>
    <img src="Slider2.jpg" alt="Slider" width="100%" height="650">
  <!--MENU-->
    <body>
      <div class="flex-container">
        <div>
            <img src="01.jpg">
        </div>
        <div>
          <h2>
            <p>Package Name:</p>  <%= result[1].PkgName%></h2>
      </div>
      </div>
      <div class="flex-container">
        <div></div>
        <div></div>
      </div>
    </body>
  </html>
   <footer>
    <p>Rabab Kazim Copyright@2022</p>
    <p><a href="mailto:rkazim83@gmail.com">Click here to Email us</a></p>
  </footer>
    </body></html>