<!--Author: Tim H-->
<!DOCTYPE html>
<html>
    <head>
        <title> Registration Form</title>
        <link href="G4Styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- Added the top banners (lines 33-59) - Micah B.-->
        <div class="topbanner">
            <img src="logo2.jpg" />
            <h2 style="font-weight: 100; font-style: italic; float: right; margin-right: 100px;" >
                <script>
                    var quotes = ["“Adventure is worthwhile.” – Aesop", "“Traveling – it leaves you speechless, then turns you into a storyteller.” – Ibn Battuta", 
                    "“We travel, some of us forever, to seek other places, other lives, other souls.” – Anais Nin", 
						"“A journey is best measured in friends, rather than miles.” – Tim Cahill", "“I am not the same, having seen the moon shine on the other side of the world.” – Mary Anne Radmacher", 
						"“The world is a book, and those who do not travel read only one page.” – Saint Augustine", "“Travel is the only thing you buy that makes you richer.” – Anonymous", 
                    "“Better to see something once than hear about it a thousand times.” – Asian Proverb"];
					var randomQuote = quotes[Math.floor(Math.random() * quotes.length)];
					document.write(randomQuote);
                </script>
            </h2>
        </div>

        <div class="banner">
            <a href="/" id="home" >Home</a>
            <a href="/contact" >Contact Us</a>
            <a href="/packages" >Vacation Packages</a>
            <a href="/registration" >Sign Up</a>
            <a href="/login" >Login</a>
                
                <div class="logo">      
                    <img src="Logo.png" class="logo" />
                </div>
            </div>

        <header>
            <h1>Register your account today!</h1>
            <h2>Plan your next vacation with us</h2>
        </header>
        <form id="submitForm" method="post" action="/register">
            <!--Full Name-->
            <section class="sectionForm">
                <div>
                    <p id="p1" style="visibility: hidden" >Please Enter First Name</p>
                    <label for="fname">First Name:</label>
                    <input type="text" id="fname" name="First name" placeholder="Your name..."
                        onfocus="inFocus(this,'p1')" onblur="outFocus(this,'p1')"/>
                </div>
                <div>
                    <p id="p2" style="visibility: hidden">Please Enter Middle Initials</p>
                    <label for="mname">Middle Initial:</label>
                    <input type="text" id="mname" name="Middle initial" size="6" maxlength="8" 
                        placeholder="Your initials..."
                        onfocus="inFocus(this,'p2')" onblur="outFocus(this,'p2')"/>
                </div>
                <div>
                    <p id="p3" style="visibility: hidden">Please Enter Last Name</p>
                    <label for="lname">Last Name:</label>
                    <input type="text" id="lname" name="Last name" placeholder="Your last name..."
                        onfocus="inFocus(this,'p3')" onblur="outFocus(this,'p3')"/>
                </div>
            </section>
            <br>
            <section class="sectionForm"> <!--Addres and Postal-->
                <!--Address-->
                <div>
                    <p id="p4" style="visibility: hidden">Please Enter Address</p>
                    <label for="address">Address:</label>
                    <input type="text" id="address" name="Address" size="22" placeholder="Your address..."
                        onfocus="inFocus(this,'p4')" onblur="outFocus(this,'p4')"/>
                </div> 
                <!--Postal Code-->
                <div>
                    <p id="p5" style="visibility: hidden">Please Enter Postal Code</p>
                    <label for="postal" id="postalLabel">Postal Code:</label>
                    <input type="text" id="postal" name="Postal" size="16" placeholder="Your postal code..."
                        onfocus="inFocus(this,'p5')" onblur="outFocus(this,'p5')"/>
                </div>
            </section>
            <section class="sectionForm"> <!--City Province Country-->
                <!--City-->
                <div>
                    <p id="p6" style="visibility: hidden">Please Enter City</p>
                    <label for="city">City:</label>
                    <input type="text" id="city" name="City" size="25" placeholder="Your city..."
                        onfocus="inFocus(this,'p6')" onblur="outFocus(this,'p6')"/>
                </div> 
                <!--Province-->
                <div>
                    <p id="p7" style="visibility: hidden">Please Enter Province</p>
                    <label for="province" id="provLabel">Province:</label>
                    <input type="text" id="province" name="Province" placeholder="Your province..."
                        onfocus="inFocus(this,'p7')" onblur="outFocus(this,'p7')"/>
                </div> 
            </section>
            <!--Country-->
            <section class="sectionForm">
                <div style="justify-content:left; width:20%;">
                    <label for="country">Country:</label>
                    <select class="sectionForm" id="country" name="Country" onchange="countryVal()">
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>
                </div>  
            </section>
            <br> <!--Email and phone numbers-->
            <section class="sectionForm">
                <!--Email-->
                <div>
                    <p id="p8" style="visibility: hidden">Please Enter Email</p>
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="Email" size="23" placeholder="Your email..."
                        onfocus="inFocus(this,'p8')" onblur="outFocus(this,'p8')"/>
                </div> 
                <!--Home Phone-->
                <div>
                    <p id="p9" style="visibility: hidden">Please Enter Home Phone</p>
                    <label for="phone">Home Phone:</label>
                    <input type="text" id="phone" name="Home Phone" placeholder="Your home number..."
                        onfocus="inFocus(this,'p9')" onblur="outFocus(this,'p9')"/>
                </div> 
                <!--Business Phone-->
                <div>
                    <p id="p10" style="visibility: hidden">Please Enter Business Phone</p>
                    <label for="busPhone">Business Phone:</label>
                    <input type="text" id="busPhone" name="Business Phone" placeholder="Your work number..."
                        onfocus="inFocus(this,'p10')" onblur="outFocus(this,'p10')"/>
                </div> 
            </section>
            <br> <!--Username and PW-->
            <section class="sectionForm">
                <!--User ID-->
                <div>
                    <p id="p11" style="visibility: hidden">Please Enter Username</p>
                    <label for="userId">User ID:</label>
                    <input type="text" id="userId" name="User ID" size="21" placeholder="Your username..."
                        onfocus="inFocus(this,'p11')" onblur="outFocus(this,'p11')"/>
                </div> 
                <!--Password-->
                <div>
                    <p id="p12" style="visibility: hidden">Please Enter Password</p>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="Password" placeholder="Your password..."
                        onfocus="inFocus(this,'p12')" onblur="outFocus(this,'p12')"/>
                </div> 
            </section>
            <br>
            <!--Buttons-->
            <section class="sectionForm" style="width:50%; margin-bottom:20px;">
                <div>
                    <!--Submit button-->
                    <button class="submitBtn"type= "submit" onclick="return confirmSubmit(this.form)">Submit</button>
                </div>
                <div>
                    <!--Reset button-->
                    <button class="resetBtn"type= "reset" onclick="return confirmReset()">Reset</button>
                </div>        
            </section>    
        </form>
        <!--link registration validation script-->
        <script src="registrationValidation" type="text/javascript"></script>
        <footer>Copyright &copy; 2022 Travel Experts Inc.</footer>
        <script>
            function submitForm(){
                if(typeof(localStorage) != "undefined"){
                    localStorage.name = document.getElementById("name").value;
                    localStorage.mname = document.getElementById("mname").value;
                    localStorage.lname = document.getElementById("lname").value;
                    localStorage.address = document.getElementById("address").value;
                    localStorage.postal = document.getElementById("postal)").value;
                    localStorage.city = document.getElementsById("city").value;
                    localStorage.province = document.getElementsById("province").value;
                    localStorage.country = document.getElementsById("country").value;
                    localStorage.email = document.getElementsById("email").value;
                    localStorage.phone = document.getElementById("phone").value;
                    localStorage.busPhone = document.getElementById("busPhone").value;
                    localStorage.userId = document.getElementById("userId").value;
                    localStorage.password = document.getElementsById("password").value;
                }
                document.getElementById("form").submit();
            }
            </script>
    </body>
</html>