body {
    margin: 0;
}

/* Top menu banners CSS by Micah*/
.topbanner {
    overflow: hidden;
    background-color: #ffffff;
    display:flex;
}
 
.topbanner h2 {
    overflow:auto;
    background-color: #ffffff;
    color: black;
    font-size: 13pt;
    font-weight: 500;
    text-decoration: none;
    right: 2%;
    font-family: cambria, sans-serif;
    margin: auto;
    display: flex;
}

/* Blue selection banner by Micah */
.banner {
    overflow: hidden;
    background-color: #2596be;
}

.banner a {
    overflow: hidden;
    color: black;
    float: left;
    font-size: 17pt;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 11px;
    margin-top: 6px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
}

.banner a:hover {
    background-color: rgb(27, 57, 75);
    color: white;
}

.banner a.active {
    background-color:#12333f;
    color: white;
}

.logo {
    float: right;
    height:60px;
    width: 60px;
    margin-right: 5px;
}
/* End of banner CSS */


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.flex-container > h2, p {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 18pt;
    font-size: 1.5vw;
}

.left {
    width: 50%;
    color:rgb(41, 66, 86);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about {
    font-family: monaco Narrow, sans-serif;
    font-style: italic;
}

/* CSS for slideshow by Micah */
.slideshow-container {
    align-items: center;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mySlides {
    display: none;
    max-width: 600px;
    text-align: center;
}

.fade {
animation-name: fade;
animation-duration: 3s;
}
.fadeout {
animation-name: fadeout;
animation-duration: 3s;
}
@keyframes fade {
from {opacity: 0}
to {opacity: 1}
}
@keyframes fadeout {
from {opacity: 1}
to {opacity: 0}
}
/* End of slideshow CSS */

/* Footer CSS by Micah */
footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #92a21a;
    text-align: center;
    color: black;
    font-size: 14pt;
}

#bot-para {
    overflow: hidden;
    background-color: #e0e0e0;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 0;
}

.form, button {
    text-shadow: rgb(0, 0, 0);
    font-size: 14pt;
    width: 60%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    color: black;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    font-family: monaco Narrow, sans-serif;
}

input {
    text-shadow: rgb(0, 0, 0);
    font-size: 14pt;
    width: 100%;
    padding: 6px 10px;
    margin: 8px 8px;
    box-sizing: border-box;
    color: black;
}

select {
    text-shadow: rgb(0, 0, 0);
    font-size: 14pt;
    width: 60%;
    padding: 6px 10px;
    margin: 8px 8px;
    box-sizing: border-box;
    color: black;
    display: block;
    font-family: monaco Narrow, sans-serif;
}